<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>My Web App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="
      background-color: #ffdee9;
      background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
    "
  >
    <div class="container-fluid text-center">
      <h1
        class="text--bs-pink"
        style="
          background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        "
      >
        Welcome to my Application
      </h1>
      <br />
      <a class="h2" th:href="@{/users}">Manage Users</a>
    </div>
  </body>
</html>
